
div.mainFrame {
	width: 90%;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: -5%;
}

div.mainFrame img {
    margin: auto;
    max-height: 95vh;
    max-width: 100vh;
}