body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #eedcbf;
}

#sidebar {
	position: fixed;
	font-size: 1.2em;
	margin: auto;
  	width: 150px;
  	margin-bottom: 3em;
    padding-bottom: 5px;
    float: left;
    color: #b37d00;
	margin: 1mm;
	list-style: none;
}


#sidebar a{
	color: #004593;
}

#sidebar a:hover {
	background-color: #004593;
	color: #eedcbf;
}