body {
    font-family: 'Ubuntu', sans-serif
}

#title {
    text-align: center;
	margin: auto;
  	width: 50%;
  	margin-top: 1em;
}

#header {
	text-align: center;
	margin: auto;
  	width: 50%;
  	margin-bottom: 2em;
}

#skills {
	width: 15em;
	float: left;
	margin-left: 10em;
}

#interests {
	width: 25%;
	float: right;
	margin-right: 10em;

}

#container {
	margin: auto;
	width: 50%;
}

#container h2 {
	text-align: center;
}